<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>ABOUT US</h1>      
      </div>
  <p> We are an online directory of properties, that are available for residential, commercial and investment purpose. We provide a host of services that can be purchased over the internet around these properties </p>

<p> We serve Bengaluru (Bangalore) currently. We are -
<h4>Simple: we're free to list, easy to search and contact</h4>
<h4>Robust: we've been built with solid internet based technology platforms</h4>
<h4>Reliable: we don't share/sell contacts and your details are safe with us, always</h4>
  </p>
</div>

</body>
</html>
