<!DOCTYPE html>
<html>
<script src= "angular.min.js"></script>
<body>

<div ng-app="">
<h2>Upadate Your Profile</h2>

<div class="jumbotron text-center" ng-if="main.loggedIn">
 
<p>First Name: <input type="text" ng-model="First name"></p>
<p>Last Name: <input type="text" ng-model="Last name"></p>
<p>E-Mail: <input type="text" ng-model="E-mail"></p>
<p>Country: <input type="text" ng-model="Country"></p>
<p>City: <input type="text" ng-model="City"></p>
<p>Zip Code: <input type="text" ng-model="Zip Code"></p>
<p>Phone No:
    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
  </p>
 <p>Alternative Contact No:
    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
  </p>
  <a href="/save" class="btn btn-primary">Save</a>
</div>
</body>
</html>
